.documentation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  background-color: #202020;
  width: 100%;
  height: 100px;
}

.api-document {
  display: flex;
  flex-direction: row;
  width: 25%;
  background-color: rgb(22, 25, 41);
  border-radius: 8%;
  cursor: pointer;
}

.api-document:hover {
  filter: brightness(2);
}

.settings-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 8px;
}

.learn-more-icon {
  display: flex;
  justify-content: flex-end;
  /* padding-right: 10px; */
  padding-left: 100px;
  padding-top: 30px;
  cursor: pointer;
}

.learn-more-icon:hover {
  filter: brightness(2);
}


.title,
.description {
  color: whitesmoke !important;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  text-align: left;
}

.title {
  padding-top: 10px;
  text-align: left;
  font-size: medium;
}

.description {
  padding-bottom: 10px;
  text-align: left;
  font-size: small;
}

